@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');

:root {
    --fonte1: 'Passion One', cursive;
    --fonte_alt: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte_alt);
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    min-height: 200px;
    text-align: center;
}
header h1 {
    font-family: var(--fonte1);
    font-weight: bold;
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}
header p {
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
}

section.imagem {
    background: darkgray url('imagens/background001.jpg') center right no-repeat fixed;
    background-size: cover;
    box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.836);
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    padding: 10px;
    max-width: 45.7%;
    max-height: 40%;
    text-shadow: 1px 1px 2px black;
}

.imagem#img2 {
    background: darkgray url('imagens/background002.jpg') left bottom no-repeat fixed;
    background-size: cover;
}

footer {
    padding: 15px;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}